{% extends "base.html" %}
{% load static %}

  {% block title %}Login{% endblock %}
  {% block styles %}<link href="{% static 'forms.css' %}" rel="stylesheet">{% endblock %}

  {% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Employee Management</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active mx-2" href="#">Sign In</a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign Up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/signup/employee">Employee</a>
            <a class="dropdown-item" href="/signup/manager">Manager</a>
            <a class="dropdown-item" href="/signup/admin">Admin</a>            
        </li>

      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <form class="form-signin" method="POST">
    {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
  {% endif %}
  {% for field in form %}
  {% cycle '@' '&#8472;' as symbol silent %}
    <div class="input-group mb-2">
      {% if forloop.first %}
        <div class="input-group-prepend">
      {% else %}
        <div class="input-group-prepend" style="margin-bottom: 0.6em">
      {% endif %}
        <div class="input-group-text">{{ symbol }}</div>
      </div>
      {{ field }}
    </div>  
  {% endfor %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  </form>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Employee Management</p>
      </div>
    </footer>
  </div>
{% endblock %}